<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>index</title>
</head>
<body>
<th:block th:if="${username}">
<p th:text="${username}"></p>
<form th:action="@{/logout}" role="form" method="post">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <button class="btn btn-primary" type="submit">Logout</button>
</form>
    <p>
        <a th:href="@{/author1}">test author1</a>
    </p>
</th:block>
<p th:unless="${username}"><a th:href="@{/login}">login</a></p>
</body>
</html>